# .env

# Database configuration
SQL_PASSWORD="SUA_SENHA_FORTE@123"
SQL_DB_USER="DB_User"
SQL_DB_CATALOG="DB_Catalog"
SQL_DB_PAYMENT="DB_Payment"

# RabbitMQ configuration
RABBIT_USER="USER_RABBIT"
RABBIT_PASS="SENHA_RABBIT"

# Grafana configuration
GRAFANA_USER="USER_GRAFANA"
GRAFANA_PASSWORD="SENHA_GRAFANA"

# User API configuration
# JWT Config
JWT_ISSUER="Fiap.CloudGames.Dev"
JWT_AUDIENCE="Fiap.CloudGames.Dev"
JWT_SECRET="****sua-chave-super-secreta-para-o-jwt****"
JWT_EXPIRY_MINUTES=60

# Admin Seed
ADMIN_USER_NAME="Administrador"
ADMIN_USER_EMAIL="adm@fcg.com"
ADMIN_USER_PASSWORD="SUA_SENHA_FORTE@123"
ADMIN_USER_ROLE="Administrator"
ADMIN_USER_STATUS="Active"
ADMIN_USER_EMAIL_CONFIRMED=true

# Payment Gateway configuration
PAYMENT_WEBHOOK_API_KEY="****sua-chave-secreta-para-webhook****"

# Queue names
QUEUE_USERS_CMD="fiap-cloud-games-users-commands"
QUEUE_USERS_EVT="fiap-cloud-games-users-events"
QUEUE_CATALOG_CMD="fiap-cloud-games-catalog-commands"
QUEUE_CATALOG_EVT="fiap-cloud-games-catalog-events"
QUEUE_PAYMENTS_CMD="fiap-cloud-games-payments-commands"
QUEUE_PAYMENTS_EVT="fiap-cloud-games-payments-events"
QUEUE_NOTIFICATIONS_CMD="fiap-cloud-games-notifications-commands"
QUEUE_NOTIFICATIONS_EVT="fiap-cloud-games-notifications-events"